<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>Message Oriented Middleware</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h2>MOM JSM</h2>
        <h:form>
            <h:outputLabel value="Message: " for="message"/>
            <h:inputText id="message" value="#{messageProducerBean.message}"/>
            <h:commandButton value="Send Message" action="#{messageProducerBean.send}"/>
            <h:messages globalOnly="true"/>
        </h:form>
    </body>
</html>
